/* General Styles */
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    position: sticky;
    top: 0;
    background-color: #222;
    color: white;
    padding: 10px 20px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header img {
        height: 50px;
    }

nav {
    display: flex;
    gap: 15px;
}

    nav a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
    }

        nav a:hover {
            background-color: #ff0000;
            border-radius: 5px;
        }

/* Positioning the cart button at the far right */
.cart-button {
    margin-left: auto;
    position: relative;
}

/* Cart icon styling */
.cart-icon {
    width: 24px;
    height: 24px;
}

/* Cart count badge styling */
.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}


h1, h2 {
    color: #333;
    text-align: center;
}

.section {
    padding: 40px 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

    .section.visible {
        opacity: 1;
        transform: translateY(0);
    }

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    color: white;
}

.social-links img {
    height: 30px;
    margin-left: 10px;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ff0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .back-to-top:hover {
        background-color: #e60000;
    }

.button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

    .button:hover {
        background-color: #e60000;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    display: block;
    max-width: 70%;
    margin: 15% auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 30px;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-card, .game-card {
        width: 100%;
        margin: 10px 0;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .gallery img {
        width: 100%;
    }
}
